.comon_theme {
    background-color: white;
    color: #333;
    display: flex;
}

.small_space {
    display: block;
    width: 1em;
    height: 1em;
}

.middle_space {
    display: block;
    width: 2em;
    height: 2em;
}

#root, #main {
    height: 100%;
}

#main_header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    border-bottom: solid #33333322 0.5px;
}

#main_logo {
    flex: 1;
    color: rgb(174, 0, 255);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#main_search_holder {
    padding: 1em 3em 1em 1em;
    display: flex;
    flex-direction: row;
    flex: 8;
}

#main_input_search {
    flex: 1;
    display: block;
}

#main_btn_add {
    height: auto;
}

#main_sider {
    flex: 1 !important;
    max-width: none !important;
    height: 100%;
    border-right: 1px solid #33333322;
}

#main_menu {
    flex: 1;
    border: none;
}

#main_content {
    flex: 8;
    flex-direction: column;
    padding: 1em;
    height: 100%;
    background-color: whitesmoke;
    transition: all 300ms ease;
}

.main_card{
    max-width: 300px;
}

#main_card_holder {
    display: "flex";
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background-color: inherit;
}

.ant-layout-sider-children {
    flex: 1;
}

.ant-card {
    height: fit-content;
    transition: all ease 300ms;
    box-shadow: #bebebe 1px 1px 5px;
    margin: 0em 2em 1em 0em;
}

.ant-card pre {
    background: #dddddd55;
    padding: 0.2em;
    width: fit-content;
    color: rgb(0, 134, 90);
}

.ant-card:hover {
    box-shadow: #bebebe 1px 1px 32px;
}

.ant-input[disabled]{
    color: #000000a8;
}

.main_modal {
    max-width: 80%;
    width: 80% !important;
}

.main_modal_content {
    display: flex;
    flex-direction: column;
}

.main_modal_code {
    display: flex;
    flex-direction: row;
}

.main_modal_highlighter, .main_modal_code_editor {
    flex: 1;
}

.main_modal_code_editor {
    margin-right: 1em;
}